---
---
<p class="disclosure">As an Amazon Associate, I earn from qualifying purchases.</p>
<style>
  .disclosure { margin: .5rem 0 1rem; font-size:.9rem; color: rgb(var(--gray-dark)); }
  @media (max-width: 720px) { .disclosure { text-align: center; } }
</style>

